{% extends 'account/account_layout.html' %}

{% block title %}
<meta http-equiv="refresh" content="3;/account/login"/>
<title>Penguin - Reset Complete</title>
{% endblock %}

{% block content %}
<div class="card mb-3 mt-5">
  <h3 class="card-header">Password Reset Complete!</h3>
  <div class="card-body">
    <h6 class="card-title text-success">The reset was succesful, you will now be redirected to the login page.</h6>
    <h7 class="card-subtitle text-muted">Please click <a href="/account/login">here</a> if you are not automatically redirected</h7>
  </div>
</div>
{% endblock %}